@import "phoneInputStyle";
// @keyframes expand {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }
// @keyframes shrink {
//   from {
//     width: 100%;
//   }
//   to {
//     width: 0;
//   }
// }
// .expand {
//   animation-name: expand;
//   animation-fill-mode: forwards;
//   animation-duration: 1s;
// }
// .shrink {
//   animation-name: shrink;
//   animation-fill-mode: forwards;
//   animation-duration: 1s;
// }
.toleft {
  transition: 0.5s;
  transform: translate(-100%, 0);
}
.back {
  transition: 0.5s;
  transform: translate(0, 0);
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.hide {
  display: none;
}
#hide {
  display: none;
}
//Login
#loginPage {
  width: 1920px;
  height: 500px;
  background-color: blue;
  color: black;
  #loginWindow {
    background-color: green;
    width: 40%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    #LoginWindowChoose {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      #Login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      #SignUp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    #LoginWindowLogin {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      #backToChoose {
        position: absolute;
        top: 0;
        right: 0;
      }
      #phoneNumber {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        p {
          all: unset;
        }
      }
      #password {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    #LoginWindowRegister {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      #backToChoose {
        position: absolute;
        top: 0;
        right: 0;
      }
      #phoneNumber {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        p {
          all: unset;
        }
      }
      #password {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #repeatPassword {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          all: unset;
        }
      }
      #toSingUpButton {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    #LoginWindowGoogle {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      #backToChoose {
        position: absolute;
        top: 0;
        right: 0;
      }
      #phoneNumber {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        p {
          all: unset;
        }
      }
      #SignUpGoogle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    // #LoginWindowGoogle {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;
    //   align-items: center;
    //   width: 100%;
    //   height: 100%;
    //   #SignUpGoogle {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    //   }
    // }
  }
}
//UserInterface
#userInterfaceBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  #userInterfaceMain {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(223, 225, 229);
    // border: 1px solid;
    #userInterfaceChatsColumn {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      width: 22%;
      height: 100%;
      overflow-x: hidden;
      #bigInterfaceColumn {
        width: 200%;
        display: flex;
        flex-direction: row;
      }
      .regularColumn {
        display: flex;
        flex-direction: column;
        width: 50%;
        #userInterfaceChatsColumnHead {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;
          height: 50px;
          #userInterfaceChatsColumnHeadSettings {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            img {
              width: 27px;
              height: 23px;
              cursor: pointer;
            }
          }
          #userInterfaceChatsColumnHeadSearch {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-right: 20px;
            border: 2px solid rgb(223, 225, 229);
            border-radius: 20px;
            width: 100%;
            height: 55%;
            padding: 5px;
            padding-left: 15px;
            gap: 10px;
            transition: 0.2s;
            img {
              width: 20px;
              height: 20px;
            }

            input {
              all: unset;
              border: none;
            }
          }
          #userInterfaceChatsColumnHeadSearch:has(input:focus) {
            border: 2px solid rgb(51, 144, 236);
            img {
              content: url("/public/icons8-search-50.png");
            }
          }
        }

        .userInterfaceChatsColumnChats {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 98%;
          white-space: nowrap;
          overflow-x: hidden;
          padding: 5px;
          .userInterfaceChatsColumnOneChat {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            width: 98%;
            height: 68px;
            border-radius: 10px;
            padding: 5px;
            gap: 5%;
            .userInterfaceChatsColumnOneChatImg {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 14%;
              height: 60px;
              img {
                width: 100%;
                max-height: 60px;
                padding: auto;
                border-radius: 50%;
              }
            }
            .userInterfaceChatsColumnOneChatNotImg {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 81%;
              height: 50px;
              .userInterfaceChatsColumnOneChatNotImgTopLine {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: row;
                width: 100%;
                height: 25px;
                .userInterfaceChatsColumnOneChatNotImgName {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  width: 83%;
                  height: 25px;
                }
                .userInterfaceChatsColumnOneChatNotImgDate {
                  display: flex;
                  justify-content: end;
                  align-items: center;
                  width: 17%;
                  height: 25px;
                }
              }
              .userInterfaceChatsColumnOneChatNotImgBotLine {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 100%;
                height: 25px;
                .userInterfaceChatsColumnOneChatNotImgLastMsg {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  width: 90%;
                  height: 25px;
                  overflow-x: hidden;
                  img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    border-radius: 20%;
                  }
                }
                .userInterfaceChatsColumnOneChatNotImgPindOrMsgCount {
                  display: flex;
                  justify-content: end;
                  align-items: center;
                  width: 10%;
                  height: 25px;
                  overflow-x: hidden;
                }
              }
            }
          }
        }
        .userInterfaceChatsColumnChats::-webkit-scrollbar {
          width: 5px;
          background: transparent;
        }
        .userInterfaceChatsColumnChats::-webkit-scrollbar-track {
          width: 12px;
          background: transparent;
        }
        .userInterfaceChatsColumnChats::-webkit-scrollbar-thumb {
          width: 8px;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 10px;
        }
      }
      #columnForOther {
        width: 50%;
        .createNewChanell {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          white-space: nowrap;
          overflow: hidden;
          font-family: Roboto, -apple-system, "apple color emoji",
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: rgb(112, 117, 121);
          #createNewChanellHead {
            height: 56px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding-left: 12px;
            align-items: center;
            font-family: Roboto, -apple-system, "apple color emoji",
              BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
              Cantarell, "Helvetica Neue", sans-serif;
            font-size: 20px;
            font-weight: 500;
            p {
              all: unset;
              padding-left: 40px;
              height: fit-content;
              width: fit-content;
              color: black;
            }
            #createNewChanellHeadArrow {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 8px;
              img {
                width: 25px;
                height: 30px;
              }
            }
          }
          #createNewChanellImgDiv {
            height: 120px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            input {
              display: none;
            }
            img {
              position: relative;
              height: 120px;
              width: 120px;
              cursor: pointer;
              border-radius: 50%;
            }
          }
          #createNewChanellNameInput {
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            padding: 15px;
            input {
              width: 384px;
              height: 54px;
              font-size: 16px;
              font-weight: 400;
              font-family: var(--font-regular);
              background-color: rgba(0, 0, 0, 0);
              border-bottom-color: rgb(223, 225, 229);
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-image-outset: 0;
              border-image-repeat: stretch;
              border-image-slice: 100%;
              border-image-source: none;
              border-image-width: 1;
              border-left-color: rgb(223, 225, 229);
              border-left-style: solid;
              border-left-width: 1px;
              border-right-color: rgb(223, 225, 229);
              border-right-style: solid;
              border-right-width: 1px;
              border-top-color: rgb(223, 225, 229);
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-top-style: solid;
              border-top-width: 1px;
              justify-content: start;
              align-items: center;
              width: 333px;
              padding-left: 15px;
            }
            input:hover {
              border-color: #3390ec;
              color: #3390ec;
            }
            input:hover::placeholder {
              color: #3390ec;
            }
          }
          #createNewChanellDiscriptionsInput {
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            padding: 15px;
            input {
              width: 384px;
              height: 54px;
              font-size: 16px;
              font-weight: 400;
              font-family: var(--font-regular);
              background-color: rgba(0, 0, 0, 0);
              border-bottom-color: rgb(223, 225, 229);
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-image-outset: 0;
              border-image-repeat: stretch;
              border-image-slice: 100%;
              border-image-source: none;
              border-image-width: 1;
              border-left-color: rgb(223, 225, 229);
              border-left-style: solid;
              border-left-width: 1px;
              border-right-color: rgb(223, 225, 229);
              border-right-style: solid;
              border-right-width: 1px;
              border-top-color: rgb(223, 225, 229);
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-top-style: solid;
              border-top-width: 1px;
              justify-content: start;
              align-items: center;
              width: 333px;
              padding-left: 15px;
            }
            input:hover {
              border-color: #3390ec;
              color: #3390ec;
            }
            input:hover::placeholder {
              color: #3390ec;
            }
          }
          p {
            padding: 0;
            margin: 0;
            padding-left: 20px;
          }
          #createNewChanellForward {
            img {
            }
          }
        }
        #createNewGroup {
        }
        #createNewPrivateChat {
        }
      }
      #createButton {
        position: fixed;
        bottom: 2%;
        left: 24.4%;
        width: 60px;
        height: 60px;
        background-color: #3390ec;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .createOptions {
        position: fixed;
        flex-direction: column;
        bottom: 150px;
        left: 350px;
        padding: 5px;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: left;
        background-color: white;
        border-radius: 10%;
        .option {
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    #userInterfaceChat {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      width: 65.7%;
      height: 100vh;
      #userInterfaceChatHead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 50px;
        background-color: white;
        #userInterfaceChatHeadImg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        #userInterfaceChatHeadNameColumn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 50px;
          #userInterfaceChatHeadNameColumnName {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 25px;
          }
          #userInterfaceChatHeadNameColumnLastSeen {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 25px;
          }
        }
        #userInterfaceChatHeadCall {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        #userInterfaceChatHeadNotifications {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        #userInterfaceChatHeadHidePinned {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        #userInterfaceChatHeadOnePinned {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
        }
        #userInterfaceChatHeadAllPinned {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        #userInterfaceChatHeadVideoChat {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        #userInterfaceChatHeadSearch {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        #userInterfaceChatHeadSettings {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
      #userInterfaceChatMainBackground {
        background-image: linear-gradient(
            to bottom right,
            rgba(246, 255, 0, 0.4),
            rgba(75, 251, 0, 0.4),
            rgba(246, 255, 0, 0.4)
          ),
          url("/public/backgroundlight.png");
        display: flex;
        justify-content: end;
        // align-items: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100% - 50px);
        padding-bottom: 1.5%;
        #userInterfaceChatMainMsgesColumn {
          display: flex;
          //   justify-content: center;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 60%;
          height: fit-content;
          gap: 10px;
          overflow: scroll;
          overflow-x: hidden;
          margin-left: 21%;
          #msg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 450px;
            width: min-content;
            height: min-content;
            background-color: white;
            padding: 1px;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
            img {
              max-width: 420px;
              max-height: 336px;
              cursor: pointer;
              border-top-left-radius: 5%;
              border-top-right-radius: 5%;
            }
            #comentary {
              display: flex;
              flex-direction: row;
              width: max-content;
              max-width: 440px;
            }
            #emotions {
              display: flex;
              flex-direction: row;
              img {
                width: 20px;
                height: 20px;
                border: 0px;
              }
            }
          }
        }
        #userInterfaceChatMainInputBar {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          width: 56%;
          height: 60px;
          gap: 10px;
          margin-left: 1%;
          #userInterfaceChatMainInputLine {
            border: 0.5px solid rgb(112, 117, 121, 0.4);
            border-radius: 20px;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            width: 93%;
            height: 60px;
            background-color: white;
            padding-left: 10px;
            padding-right: 10px;
            gap: 15px;
            #userInterfaceChatMainInputSmile {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              img {
                width: 35px;
                height: 35px;
              }
            }
            #userInterfaceChatMainInputText {
              display: flex;
              justify-content: start;
              align-items: center;
              width: 100%;
              height: 25px;
              padding-bottom: 2px;
              input {
                all: unset;
              }
              input::placeholder {
                color: rgb(112, 117, 121, 0.8);
              }
            }
            #userInterfaceChatMainInputFile {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              img {
                width: 35px;
                height: 35px;
              }
            }
          }
          #userInterfaceChatMainInputVoice {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            bottom: 0;
            border-radius: 50%;
            background-color: #3390ec;
            img {
              width: 30px;
              height: 30px;
            }
            cursor: pointer;
          }
        }

        #userInterfaceChatMainMsgesColumn::-webkit-scrollbar {
          width: 5px;
          background: transparent;
        }
        #userInterfaceChatMainMsgesColumn::-webkit-scrollbar-track {
          width: 12px;
          background: transparent;
        }
        #userInterfaceChatMainMsgesColumn::-webkit-scrollbar-thumb {
          width: 8px;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 10px;
        }
      }
    }
  }
}
//AddToChat
#addToChatWholeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  #addToChatWindowDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    background-color: #3390ec;
  }
}
